<!-- <h3>HOME</h3> -->



<div class="form">

  <p>Hi, this is an app for searching artist with Spotify api</p>



  <form action="/artistSearch" method="GET">

    <div class="artistSearch">
      <label for="exampleInputPassword1"></label>
      <input type="text" name="artistSearch" class="form-control" id="artistSearch" placeholder="" value="">


    </div>
    <br>
    <button type="submit" class="btn btn-danger">Search for Artist</button>
  </form>
</div>